{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
    <div class="section text-center p-3">
    <p>Hello {{ user }}, and welcome! <br>My name is Christopher Huang, and I'm currently immersed in the final stages of my journey through the Harvard CS50 course, Introduction to Computer Science. As a culmination of this study, I've been diligently crafting my final project for submission a web-based application using Flask, SQL, Python, and vercel—the website you see now.</p>
    <p>While I put the finishing touches on this endeavor, I find myself at an exciting crossroads in my career. As an entry programmer, I'm eager to explore opportunities that will allow me to apply and expand upon the skills I've cultivated during my studies.</p>
    <p>If you happen to know of any openings suitable for someone with my entry level programming background, I would be deeply grateful for the chance to discuss them further. I'm aware that I still have much to learn, and I approach this journey with humility and a willingness to grow.</p>
    <p>Beyond my immediate interests, I harbor a keen curiosity for Artificial Intelligence, a field I'm eager to delve into further following the completion of my Harvard CS50 certification. From algorithms to memory and data structures, I'm committed to deepening my understanding of the intricacies of programming.</p>
    <p>Your support and insights would mean the world to me. If you have a moment to spare, I'd love to hear from you. Feel free to leave a <a href="/message">message</a> right here on my website, I'm always open to new connections and opportunities.</p>
    <p>Thank you for visiting, and I look forward to the possibilities that lie ahead.</p>
    </div>
    <div class="signature">
        <p class="regards">Warm regards,</p>
        <p class="name">Christopher Huang</p>
    </div>
{% endblock %}
